.homeAluno {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 40px 15px 200px;
    color: #4caf84;
  }

  .slogan-homePage{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-left: 0;
    text-align: center;
  }

  
  .botoes {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-bottom: 60px;
    width: 100%;
    max-width: 500px;
  }
  
  .botoes button {
    background-color: #4caf84;
    border: none;
    padding: 20px 40px;
    font-size: 16px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
  }
  
  .botoes button:hover {
    background-color: rgba(0, 0, 0, 0.35);
  }

  .img img {
    width: 250px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    border-radius: 8px; 
    max-width: 250px;
  }

  .img-container{
    display: flex;
    justify-content: center; 
    gap: 40px; 
    width: 100%; 
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  