.plano-treino-container {
    min-height: 100vh;
    padding: 40px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #4caf84;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .card-treino {
    background-color: #4caf84;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .topo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .topo-card button {
    background-color: white;
    color: #5BBA89;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .detalhes-treino {
    margin-top: 15px;
    
  }
  
  table {
    width: 100%;
    background-color: white;
    color: #5BBA89;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    padding: auto;

    
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  